* {
  margin: 0;
  padding: 0;
}

.pass-recover-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: none;
  background-image: url("./images/forgotPass.jpg");
  background-size: cover;
}

.email-input-container {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.email-input {
  width: 30vw;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
}
.send-email-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: #fb641b;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0 #0000002c;
  transition: 0.2s box-shadow;
  margin-left: 10px;
}
.send-email-btn:hover {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.5);
}

.error-message {
  margin-top: 30px;
}

.success {
  color: green;
  border: 2px solid green;
  background-color: rgba(70, 170, 30, 0.3);
}

.danger {
  color: red;
  border: 2px solid red;
  background-color: rgba(240, 64, 64, 0.3);
}

.success,
.danger {
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 100;
  padding: 10px;
}
